
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background: var(--bg);
  color: var(--text);

  --fs: 16px;
  --fw: 400;
  --lh: 1.35;
  --ls: -3;

  font-size: var(--fs);
  font-weight: var(--fw);
  line-height: var(--lh);
  letter-spacing: calc(var(--fs) * ( var(--ls) / 100));

  @media (width < 1150px){
    --fs: 14px;
  }
}

.container {
  max-width: var(--container-w);
  padding-inline: 15px;
  margin-inline: auto;
}
@media (width > 1025px){
  .container {
    max-width: var(--container-w-lg);
    padding-inline: 15px;
  }
}
.text-primary{
  color: var(--text);
}
.text-accent{
  color: var(--accent-color);
}
.text-secondary{
  color: var(--text-secondary);
}
.text-align-left{
  text-align: start;
}
.text-align-center{
  text-align: center;
}
.text-align-right{
  text-align: end;
}
@media (width < 767px){
  .hide-br-mobile{
    br{
      display: none;
    }
  }
}
@media (width < 991px){
 
  .hidden-mobile{
    display: none;
  }
}
@media (width > 992px){
  .hidden-desktop{
    display: none;
  }
}

/* Image ratio */
.ratio-contain .ratio > img,
.ratio-contain{
  object-fit: contain;
}

.ratio {
  display: flex;
  width: 100%;
  position: relative;
  align-items: stretch;
  & > * {
    display: block;
    max-width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.ratio::before{
  content: '';
  width: 0;
  height: 0;
  display: block !important;
  padding-bottom: var(--ratio-percent);
}
.ratio-adapt-image .ratio{
  --ratio-percent: calc(100% / (var(--aspect-ratioapt)))
}
.ratio-9-16{
  --ratio-percent: 177.7777778%;
}
.ratio-2-1{
  --ratio-percent: 200%;
}
.ratio-3-2 {
  --ratio-percent: 150%;
}

.ratio-asos {
  --ratio-percent: 127.7777778%;
}

.ratio-portrait {
  --ratio-percent: 125%;
}

.ratio-square {
  --ratio-percent: 100%;
}

.ratio-4-3 {
  --ratio-percent: 75%;
}

.ratio-landscape {
  --ratio-percent: 66.6%;
}

/* display */

.hidden,
[hidden]{
  display: none;
}
.flex{
  display: flex;
}
.grid{
  display: grid;
}
.inline-flex{
  display: inline-flex;
}
.inline-grid{
  display: inline-grid;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.contents{
  display: contents;
}
.flex-inline{
  display: inline-flex;
}
.grid-inline{
  display: inline-grid;
}


/* section css */
.heading-count{
  --fs: 80px;
  --fw: 400;
  --lh: 1.1;
  --ls: -6;

  font-size: var(--fs);
  font-weight: var(--fw);
  line-height: var(--lh);
  letter-spacing: calc(var(--fs) * ( var(--ls) / 100));

  @media (width < 1150px){
    --fs: 64px;
  }
  @media (width < 991px){
    --fs: 48px;
  }
  @media (width < 767px){
    --fs: 44px;
  }
}